<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>糟糕了</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap -->
    <link th:href="@{/resources/bootstrap-5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/resources/bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <!-- jQuery -->
    <script th:src="@{/resources/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/jquery/jquery.validate.min.js}"></script>      
  </head>
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">糟糕了!</h1>
                <p class="fs-3"> <span class="text-danger">伺服器好像有點問題?!</span></p>
                <p class="lead">
                    晚點再試看看吧~
                  </p>
                <a href="/" class="btn btn-primary">回首頁</a>
            </div>
        </div>
    </body>
</html>